In [1]:
import pandas as pd

In [2]:
readDf = pd.read_csv("NS0039.centrifuge.output", sep="\t", names=["readID","seqID","taxID", "score","2ndBestScore","hitLength","queryLength", "numMatches"])

In [18]:
nameDf = pd.read_csv("names.dmp", sep="|", names=["tax_id", "name_txt", "unique_name", "name_class", "blank"])

In [3]:
readIndex = dict()

In [4]:
print(readIndex)

{}

In [5]:
for index, row in readDf.iterrows():
    if row["readID"] not in readIndex:
        readIndex[row["readID"]] = set()
    readIndex[row["readID"]].add(row["taxID"])

In [8]:
for entry in readIndex:
    if len(entry) <=1:
        del readIndex[entry]

In [9]:
print(len(readIndex))

176279

In [20]:
pd.read_csv("nodes.dmp", sep="|")

C:\Users\WJang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,1,1,no rank,,8,0,1 .1,0 .1,0 .2,0 .3,0 .4,0 .5,.1,.2,.3,0 .6,0 .7,0 .8,Unnamed: 18
0,2,131567,\tsuperkingdom\t,\t\t,0,0,11,0,0,0,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
1,6,335928,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
2,7,6,\tspecies\t,\tAC\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
3,9,32199,\tspecies\t,\tBA\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
4,10,1706371,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
5,11,1707,\tspecies\t,\tCG\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
6,13,203488,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
7,14,13,\tspecies\t,\tDT\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
8,16,32011,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
9,17,16,\tspecies\t,\tMM\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
10,18,213421,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
11,19,18,\tspecies\t,\tPC\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
12,20,76892,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
13,21,20,\tspecies\t,\tPI\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
14,22,267890,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
15,23,22,\tspecies\t,\tSC\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
16,24,22,\tspecies\t,\tSP\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
17,25,22,\tspecies\t,\tSH\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
18,27,49928,\tspecies\t,\tHE\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
19,28,49928,\tspecies\t,\tHE\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
20,29,28221,\torder\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
21,31,80811,\tfamily\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
22,32,31,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
23,33,32,\tspecies\t,\tMF\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
24,34,32,\tspecies\t,\tMX\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
25,35,32,\tspecies\t,\tMM\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
26,38,47,\tspecies\t,\tAD\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
27,39,80811,\tfamily\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
28,40,39,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
29,41,40,\tspecies\t,\tSA\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899209,2419773,1357,\tspecies\t,\tLS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899210,2419774,1434018,\tspecies\t,\tLS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899211,2419775,410657,\tspecies\t,\tNB\t,11,1,11,1,2,1,1,0,\t\t,\t11\t,\t1\t,0,0,1,NaN
1899212,2419776,2038280,\tspecies\t,\tRS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899213,2419777,1822464,\tspecies\t,\tPS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899214,2419778,329857,\tspecies\t,\tCS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899215,2419779,362141,\tspecies\t,\tHD\t,1,1,1,1,5,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN
1899216,2419811,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899217,2419812,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899218,2419813,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899219,2419814,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899220,2419815,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899221,2419816,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899222,2419817,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899223,2419818,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899224,2419819,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899225,2419820,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899226,2419821,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899227,2419822,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899228,2419823,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899229,2419824,590,\tspecies\t,\tSS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899230,2419830,1817810,\tclass\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899231,2419831,2419830,\tno rank\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899232,2419832,2419831,\tfamily\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899233,2419833,2419832,\tgenus\t,\t\t,0,1,11,1,0,1,0,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899234,2419838,194,\tspecies\t,\tCS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899235,2419841,84406,\tspecies\t,\tVS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899236,2419842,84406,\tspecies\t,\tVS\t,0,1,11,1,0,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899237,2420053,6746,\tspecies\t,\tPF\t,1,1,1,1,5,1,1,0,\t\t,\t\t,\t\t,0,0,1,NaN
1899238,2420066,553732,\tspecies\t,\tIO\t,1,1,1,1,5,1,1,0,\t\t,\t\t,\t\t,1,0,1,NaN